<ion-view title="Contactus" >
 <ion-content class="padding">
 

<button class="button button-block button-positive ion-android-call"  ng-click="call('8023645633')"> &nbsp;&nbsp;802 364 5633</button>
 <br/>
<button class="button button-block button-positive ion-android-call"  ng-click="call('9448467036')"> &nbsp;&nbsp;944 846 7036</button>

 <br/>
 <button class="button button-block button-positive ion-email"  ng-click="email()"> Email</button>
 
  <br/>
 <button class="button button-block button-positive ion-android-textsms"  ng-click="sms()"> SMS</button>

<br/>
 <button class="button button-block button-positive ion-link"  onclick="window.open('http://www.baliacoustic.com/index.htm', '_system'); return false;"> Website</button>


 </ion-content> 
</ion-view>