<ion-view title="Contactus" >
 <ion-content class="padding">
 
<span ng-repeat="phone in contact.phones">
<button class="button button-block button-positive ion-android-call"  ng-click="call('{{phone}}')"> &nbsp;&nbsp;{{phone}}</button>
 <br/>
 </span>

 <button class="button button-block button-positive ion-email"  ng-click="sendEmail()"> Email</button>
 
  <br/>
 <button class="button button-block button-positive ion-android-textsms"  ng-click="sendSMS()"> SMS</button>

<br/>
 <button class="button button-block button-positive ion-link"   ng-click="website()"> Website</button>
	

 </ion-content> 
</ion-view>